*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#page1{
    width: 100%;
    height: 100%;
}

#nav{
    height: 120px;
    width: 100%;

    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part1{
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part1 h4{
    font-size: 16px;
    font-weight: 500;
}

#nav img{
    height: 90px;
}

#nav-part2{
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-part2 button{
    padding: 12px 18px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: #000;
    color: #fff;

    margin: 0 10px;

}
#nav-part2 button:nth-child(1){
    background-color: transparent;
    color: #000;

}


#content{
    font-family: "Source Serif 4";
    width: 100%;
    height: calc(100% - 120px);
    background-color: bisque;

    padding-top: 100px;
}

#content h3{
    background-color: #F2B0EA;
    padding: 5px 10px;

    width: fit-content;
    border-radius: 50px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    font-size: 16px;
    font-weight: 400;
}

#content h1{
    font-size: 80px;
    text-align: center;
    margin: 25px 0;
    font-family: "Source Serif 4";
    font-weight: 100;

    line-height: 80px;
}

#content h4{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

#content button{
    padding: 12px 18px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background-color: #000;
    color: #fff;

    margin: 30px 0;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

}